.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

}

.black {
  width: var(--tam-piece);
  height: var(--tam-piece);

  border: 1px solid black;
  background: var(--black);
}

.white {
  width: var(--tam-piece);
  height: var(--tam-piece);

  border: 1px solid black;
  background: var(--white);
}