* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black: #0f0f0f;
  --border-black: #202020;
  --white: #ececec;
  --red: #800000;
  --border-red: #490000;

  --tam-home: 5rem; // 80 pixel
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #0f0f0f;
  
  background: #333230;
}